html,
body {
  font-family: Arial, Helvetica, sans-serif; /* Placeholder for future font change */
}

.logo-stats {
  width: fit-content;
  height: auto;
  margin-bottom: 1rem;
}

.statistics-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #b9b4e9;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100vh;
}

.statistics-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.statistics-logo {
  width: 50px;
  height: 50px;
}
.statistics-arrow {
  width: 35px;
  height: auto;
}

.statistics-header h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3c3393;
  margin: 0;
}

/* Task list styles */
.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dedbf8;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  border: 3px solid #3c3393;
  height: fit-content;
}

.task-item:hover {
  transform: scale(1.02);
}

.task-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
}

.task-date {
  font-size: 1.3rem;
  font-weight: 600;
  color: #3c3393;
}

.accuracy-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.task-accuracy-text {
  font-size: 18px;
  color: #3c3393;
  padding: 0 0.75rem 0 0;
}

.task-accuracy {
  font-size: 18px;
  font-weight: bold;
  color: #3c3393;
}

.task-arrow {
  font-size: 1rem;
  font-weight: bold;
  color: #3c3393;
}
